[Unit]
Description=DISTIL adder
StartLimitBurst=3
StartLimitInterval=24h

[Service]
Restart=always
RestartSec=1m
ExecStart=/usr/bin/docker run \
  --name %p \
  -e DISTIL_MONGO_ADDR="cm1.smartgrid.store:27017" \
  -e DISTIL_BTRDB_ADDR="cm1.smartgrid.store:4410" \
  -e SOURCECODE="github.com/aostfeld/examples/adder" \
  -e REF_PMU_PATH1="/REFSET/LBNL/a6_bus1/L1MAG" \
  -e REF_PMU_PATH2="/REFSET/LBNL/a6_bus1/L2MAG" \
  btrdb/distiller
ExecStop=/usr/bin/docker stop -t 5 %p ; /usr/bin/docker rm -f %p
